name: Nightly release
permissions:
  contents: read
on:
  workflow_dispatch:
  schedule:
    - cron: "0 4 * * 1-5"

jobs:
  build-image:
    name: Build and Push nightly image
    uses: ./.github/workflows/component_image.yml
    with:
      image-tag: nightly
      push: true
    secrets: inherit

  security-image:
    name: Security scan
    needs: [ build-image ]
    uses: ./.github/workflows/component_image_security.yml
    with:
      image-tag: nightly
    secrets: inherit

  check-system-identity-endpoints-us:
    name: Check system identity endpoints (US)
    uses: ./.github/workflows/component_check_system_identity_endpoints.yml
    with:
      environment: "us"
    secrets:
      client_id: ${{ secrets.SYSTEM_IDENTITY_CHECKS_CLIENT_ID_US }}
      organization_id: ${{ secrets.SYSTEM_IDENTITY_CHECKS_ORGANIZATION_ID_US }}
      private_key_pem: ${{ secrets.SYSTEM_IDENTITY_CHECKS_PRIVATE_KEY_PEM_US }}

  notify-failure:
    if: ${{ failure() }}
    needs: [ security-image, build-image, check-system-identity-endpoints-us ]
    runs-on: ubuntu-latest
    steps:
    - name: Notify failure via Slack
      uses: slackapi/slack-github-action@ebd044f149bf27a2817c0eee26e98d797fa5cffd # v1.22.0
      with:
        payload: |
          {
            "text": ":warning: [Nightly workflow failed for `newrelic-auth-rs`] @hero check <${{ env.GITHUB_JOB_URL }}>"
          }
      env:
        SLACK_WEBHOOK_URL: ${{ secrets.AC_SLACK_WEBHOOK }}
        GITHUB_JOB_URL: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}