on:
  release:
    types:
      - prereleased

name: on_prerelease
permissions:
  contents: write
jobs:
  check-version:
    runs-on: ubuntu-latest
    name: Check version in Cargo.toml
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
        with:
          fetch-depth: 0
      
      - name: Check if Cargo.toml version matches pre-release tag 
        run: |
          NEWRELIC_AUTH_VERSION=$(sed -n 's/^version = "\(.*\)"/\1/p' Cargo.toml)
          if [ "${NEWRELIC_AUTH_VERSION}" != "${{ github.event.release.tag_name }}" ]; then
            echo "Package version specified in Cargo.toml (${NEWRELIC_AUTH_VERSION}) differs from tag (${{ github.event.release.tag_name }}), exiting"
            exit 1
          fi

  build-image:
    name: Build and Push container image
    needs: [ check-version ]
    uses: ./.github/workflows/component_image.yml
    with:
      image-tag: ${{ github.event.release.tag_name }}-rc
      push: true
    secrets: inherit

  security-scan:
    name: Security scan
    needs: [ build-image ]
    uses: ./.github/workflows/component_image_security.yml
    with:
      image-tag: ${{ github.event.release.tag_name }}-rc
    secrets: inherit

  check-system-identity-endpoints-us:
    name: Check system identity endpoints (US)
    uses: ./.github/workflows/component_check_system_identity_endpoints.yml
    with:
      environment: "us"
    secrets:
      client_id: ${{ secrets.SYSTEM_IDENTITY_CHECKS_CLIENT_ID_US }}
      organization_id: ${{ secrets.SYSTEM_IDENTITY_CHECKS_ORGANIZATION_ID_US }}
      private_key_pem: ${{ secrets.SYSTEM_IDENTITY_CHECKS_PRIVATE_KEY_PEM_US }}

  build-binaries:
    runs-on: ubuntu-latest
    name: Build/Push binaries
    needs: [ check-version ]
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
        with:
          fetch-depth: 0

      - name: Obtain Rust version from project
        run: |
          RUST_VERSION=$(grep "rust-version" Cargo.toml | cut -d "=" -f2 | tr -d "[:space:]")
          echo "RUST_VERSION=${RUST_VERSION}" >> $GITHUB_ENV

      - name: Install Rust ${{ env.RUST_VERSION }}
        uses: dtolnay/rust-toolchain@0b1efabc08b657293548b77fb76cc02d26091c7e # master
        with:
          toolchain: ${{ env.RUST_VERSION }}

      - name: Build newrelic auth cli
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          which cross || cargo install cross
          export RUSTFLAGS="-C target-feature=+crt-static"
          cross build --target "aarch64-unknown-linux-musl" --profile release 
          cross build --target "x86_64-unknown-linux-musl" --profile release 
          
          chmod +x ./target/aarch64-unknown-linux-musl/release/newrelic-auth-cli
          chmod +x ./target/x86_64-unknown-linux-musl/release/newrelic-auth-cli

          tar -czf newrelic-auth-cli_arm64.tar.gz -C ./target/aarch64-unknown-linux-musl/release newrelic-auth-cli
          tar -czf newrelic-auth-cli_amd64.tar.gz -C ./target/x86_64-unknown-linux-musl/release newrelic-auth-cli

          gh release upload ${{ github.event.release.tag_name }} newrelic-auth-cli_arm64.tar.gz
          gh release upload ${{ github.event.release.tag_name }} newrelic-auth-cli_amd64.tar.gz

  notify-failure:
    if: ${{ failure() }}
    needs: [ build-image, check-system-identity-endpoints-us, build-binaries ]
    runs-on: ubuntu-latest
    steps:
    - name: Notify failure via Slack
      uses: slackapi/slack-github-action@ebd044f149bf27a2817c0eee26e98d797fa5cffd # v1.22.0
      with:
        payload: |
          {
            "text": ":warning: [Pre-release failed for `newrelic-auth-rs`] @hero check <${{ env.GITHUB_JOB_URL }}>"
          }
      env:
        SLACK_WEBHOOK_URL: ${{ secrets.AC_SLACK_WEBHOOK }}
        GITHUB_JOB_URL: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}
