name: Release
on:
  release:
    types:
      - released
    tags:
      - '*'
permissions:
  contents: read
jobs:
  push-container-tags:
    runs-on: ubuntu-latest
    name: Push container release tags
    env:
      DOCKER_IMAGE_NAME_AUTH: newrelic/agent-control-system-identity-registration
    steps:
      - uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3

      - uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3

      - uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          username: ${{ secrets.OHAI_DOCKER_HUB_ID }}
          password: ${{ secrets.OHAI_DOCKER_HUB_PASSWORD }}

      - name: Push release tags
        run: |
          docker buildx imagetools create \
            -t $DOCKER_IMAGE_NAME_AUTH:${{ github.event.release.tag_name }} \
            -t $DOCKER_IMAGE_NAME_AUTH:latest \
            $DOCKER_IMAGE_NAME_AUTH:${{ github.event.release.tag_name }}-rc


  notify-failure:
    if: ${{ failure() }}
    needs: [ push-container-tags ]
    runs-on: ubuntu-latest
    steps:
    - name: Notify failure via Slack
      uses: slackapi/slack-github-action@fcfb566f8b0aab22203f066d80ca1d7e4b5d05b3 # v1.27.1
      with:
        payload: |
          {
            "text": ":warning: [Release failed for `newrelic-auth-rs`] @hero check <${{ env.GITHUB_JOB_URL }}>"
          }
      env:
        SLACK_WEBHOOK_URL: ${{ secrets.AC_SLACK_WEBHOOK }}
        GITHUB_JOB_URL: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}
